<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments::links">
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header th:replace="fragments::header">
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="fragments::sidebar">
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header th:replace="fragments::secondary-header">
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ul>
            </div>

            <section class="tables">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Lista produktów</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>zdjęcie</th>
                                                <th>imię kota</th>
                                                <th>rasa</th>
                                                <th>opis i charakterystyka</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,iter  : ${itemList}">
                                                <td>
                                                    <img class="image-autowidth" id="image"
                                                         th:src="${'data:image/png;base64,'+images[iter.index]}"
                                                         alt=""/>
                                                </td>
                                                <td><p th:text="${animal.getName()}"></p></td>
                                                <td>
                                                    <p th:text="${item.getCategoryList().get(0).mainCategory.getNameCategory()} + ' ' + ${item.getCategoryList().get(0).subcategory.getName()}"></p>
                                                </td>
                                                <td><p th:text="${item.getPriceWithTrailingZeros() + ' zł'}"></p></td>
                                                <td>
                                                    <div>
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown">
                                                            Więcej <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a th:href="@{'/item/details/' + ${item.getId()}}">Zobacz
                                                                szczegóły</a></li>
                                                            <li sec:authorize="isAuthenticated()"><a
                                                                    th:href="@{'/item/editItem/' + ${item.getId()}}">Edytuj</a>
                                                            </li>
                                                            <li sec:authorize="isAuthenticated()"><a
                                                                    th:href="@{'/item/remove/' + ${item.getId()}}">Usuń</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown">Kupuję! <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a th:href="@{'/item/shoppingCart/' + ${item.getId()}}">Kupuję</a></li>
                                                            <li><a th:href="@{'/item/wishList/' + ${item.getId()}}">Dodaj do listy
                                                                życzeń</a></li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-6">-->
                    <!--<div class="card">-->
                    <!--<div class="card-close">-->
                    <!--<div class="dropdown">-->
                    <!--<button type="button" id="closeCard4" data-toggle="dropdown"-->
                    <!--aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i-->
                    <!--class="fa0 fa-ellipsis-v"></i></button>-->
                    <!--<div aria-labelledby="closeCard4"-->
                    <!--class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"-->
                    <!--class="dropdown-item remove">-->
                    <!--<i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit">-->
                    <!--<i class="fa fa-gear"></i>Edit</a></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </section>


            <div th:replace="fragments::footer">
            </div>
        </div>
    </div>
</div>

</body>
</html>