<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<html xmlns:xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::links">
    <meta charset="utf-8">
    <title>Wszystkie zwierzęta</title>
</head>


<body>
<div class="page">
    <!-- Main Navbar-->
    <header th:replace="fragments::header">
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="fragments::sidebar">
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header th:replace="fragments::secondary-header">
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Adoptuj</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ul>
            </div>
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Adoptuj</h3>
                                </div>
                                <div class="card-body row">
                                    <div class="autor col-md-12" th:align="center">
                                        <section class="tables">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card">
                                                            <div class="card-header d-flex align-items-center">
                                                                <h3 class="h4">Nasze zwierzaki</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Imie</th>
                                                                            <th></th>
                                                                            <th></th>
                                                                        </tr>
                                                                        <th:block th:each="animal : ${animals}">
                                                                            <tr>
                                                                                <!--<td th:text="${animal.getId()}"></td>-->
                                                                                <td th:text="${animal.getName()}"></td>
                                                                                <!--<td th:text="${animal.getAge()}"></td>-->
                                                                                <td>
                                                                                    <a th:href="@{/adoptAnimal(id=${animal.getId()})}">Adoptuj!</a>
                                                                                </td>
                                                                                <td>
                                                                                    <a th:href="@{/chat}">Napisz</a>
                                                                                </td>
                                                                            </tr>
                                                                        </th:block>
                                                                        <br><br>

                                                                        </thead>
                                                                    </table>
                                                                    <br><br>
                                                                    <a th:href="@{/profile}"><button class="buttons">Powrót</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>