<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: links">
</head>

<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Rejestracja</h1>
                            </div>
                            <p>Jeszcze tylko chwila...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class=class="content">
                            <form th:action="@{/register}" method="post">
                                <div class="form-group">
                                    <input name="login" type="text" class="input-material"
                                           id="login" aria-describedby="emailHelp"
                                           required data-msg="Please enter your username">
                                    <label for="login" class="label-material">Nazwa użytkownika:</label>

                                </div>

                                <div class="form-group">
                                    <input name="email" type="text"
                                           id="email" class="input-material"
                                           required data-msg="Please enter your email">
                                    <label for="email" class="label-material">E-mail:</label>
                                </div>

                                <div class="form-group">
                                    <input name="password" type="password"
                                           id="password" class="input-material"
                                           required data-msg="Please enter your password">
                                    <label for="password" class="label-material">Hasło:</label>
                                </div>

                                <div class="form-group">
                                    <input name="confirmPassword" type="password"
                                           class="input-material" id="confirmPassword"
                                           required data-msg="Please confirm your password">
                                    <label for="confirmPassword" class="input-material">Potwierdź hasło:</label>

                                </div>
                                <div class="form-group">
                                    <p class="form-inline" style="color: red;" th:text="${failMsg}"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Zarejestruj</button>
                                <small>Masz już konto?</small>
                                <a href="login" class="signup">Logowanie</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p style="color: black">© 2018 Copyright: <a href="/" class="external"> 4LapMe.com</a>
            </p>
        </div>
    </div>
</div>
</body>
<!--<div th:replace="fragments :: footer"></div>-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper.js/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- Main File-->
<script src="js/front.js"></script>

</html>
